body {
    font-family: 'Zilla Slab', serif;
    color: rgb(19, 18, 18);
    background-color: rgb(221, 221, 209);
    display: block;
}


h2 {
    font-family: 'Zilla Slab', serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgb(223, 107, 29);
}

/* ------------ Special paddings/margins/text */

h1,
h2,
h3,
h4 {

 text-transform: capitalize ;
}

.general-sub {
    font-family: 300, sans-serif;
    color: rgb(223, 107, 29);
    letter-spacing: 2px;
    position: relative;
    
}
/*-----------header */

#principal-image {
    height: 500px;
    width: 100%;
    background: url('../images/principal.JPG')  no-repeat center center;

    -webkit-background-size: ease-in-out;
    -moz-background-size:ease-in-out;
    -o-background-size: ease-in-out;
    background-size: ease-in-out;
    animation-name: principal-zoom;
    animation-duration: 3s;
    animation-fill-mode:forwards;
 
}

.principal-text {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
    
}

@keyframes principal-zoom {
  from {
   transform: scale(1)
  }
  
  to {
   transform: scale(1.1)
  }
}

#cover-text, #cover-text h4 {
    color: #ffff;
 }

#cover-text {
  font-size: 130%;
  font-family: 300;
  text-transform: uppercase;
  letter-spacing: 3px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 30px;

  background-color: rgba(78, 140, 172, 0.644);

  bottom: 30px;
  left: 80px;
  
  position: absolute;

}

/*-----------------------Navbar   */

.navalert-container {
    position: relative;
    top: 0;
    right: 0;
    padding-right: 0;
    padding-left: 0;
    z-index: 1;
    
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgb(52, 66, 52);

}

.navbar .navbar-toggler {
 border: 0;

}

.navbar-logo {
    font-family: 300;
    float: left;
    font-size: 30px;
    margin-left: 10px;
    line-height: 70px;
    color: rgb(73, 168, 81);
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
    
}
/*
.navbar-logo a  {
    font-family: 300;
    color: rgb(223, 107, 29);
    font-weight: bold;
    float: right;
    font-size: 35px;
    text-transform: uppercase;   rgb(73, 168, 81);
}
*/
.navalert-container a:hover {
    color: rgb(223, 107, 29);
}


.navbar navbar-nav a {
    font-weight: bold;
    position: right;
    color: #ffff;
}

.navbar .navbar-nav a:hover {
    border-bottom: 2px solid rgb(223, 107, 29) ;
}


/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color:rgb(223, 107, 29) ;
}

.important-reasons p{
    color: rgb(12, 12, 12);
    font-size: 20px;
    text-align: justify;
}
/*
.packages-container {

}


.quotes-container
{

}
*/

/*----------Footer */


footer {
    background-color: rgb(52, 66, 52);
    min-height: 110px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.footer-container h5 {
   
    color: rgb(223, 107, 29);
    letter-spacing: 1px;
    font-size: 20px;
    
}

.by-me  {
    color: rgb(223, 107, 29);
    font-size: 15px;
    letter-spacing: 1px;
}

/*-------rgb(81, 107, 81)---Social Links */


.social-links li a i {
    width: 30px;
    height: 30px;
    line-height: 7px;
    border-radius: 15%;
    color: #ffff;
    background: rgb(81, 107, 81);
    text-align: center;
    padding: 11px 0;
   
}

.social-links li a i:hover {
    background: #e84610;
}

.social-links a i  {
    width: 30px;
    height: 30px;
    line-height: 7px;
    border-radius: 15%;
    color: #09b803;
    text-align: center;
    padding: 11px 0;
    
}

/* --- Gallery container ----*/

